div.MemePreview {
    margin:  0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;   
}

.MemePreview img {
    visibility: hidden;
    max-width: 100%;
    border: black solid 1px;
}

.MemePreview p {
    font-size: 30px;
    color: white;
    text-shadow: 4px 3px 10px #000000;
}